<div class="container mb-4">
    <div class="row">
        <div class="col-3 d-grid gap-2">
            <button type="button" class="btn btn-secondary" [routerLink]="['/tests']">Vissza</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Új teszt</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="testForm">
                <label for="name" class="">Név</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <label for="start_age" class="">Kezdő kor</label>
                <input type="number" class="form-control" id="start_age" formControlName="start_age">
                <label for="interval" class="">Időköz</label>
                <input type="number" class="form-control" id="interval" formControlName="interval">
                <label for="gender">Nem</label>
                <select class="form-control" id="gender" formControlName="gender">
                    <option value="all" selected>Mindkettő</option>
                    <option value="male">Férfi</option>
                    <option value="female">Nő</option>
                </select><br>

                <div class="alert alert-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                    <div *ngIf="name?.errors?.['required']">
                        A név megadása kötelező!
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="start_age?.invalid && (start_age?.dirty || start_age?.touched)">
                    <div *ngIf="start_age?.errors?.['required']">
                        A kezdő kor megadása kötelező!
                    </div>
                    <div *ngIf="start_age?.errors?.['min']">
                        A kezdő kor nem lehet 0-nál kevesebb!
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="interval?.invalid && (interval?.dirty || interval?.touched)">
                    <div *ngIf="interval?.errors?.['required']">
                        Az időköz megadása kötelező!
                    </div>
                </div>
                <button type="button" class="btn btn-success" [disabled]="testForm.invalid" (click)="newTest()">Mentés</button>
            </form>
        </div>
    </div>
</div>